.my-container {
    background-color: lightblue; 
    padding: 20px;
    height: 300px;
    border-radius: 5px; 
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    overflow: hidden;
}

.img-button {
    cursor: pointer;
}

.tab-view {
    margin: 20px 0;
    padding: 20px;
    border-radius: 5px;
    background-color: lightblue; 
}

.category-item {
    cursor: pointer;
    padding: 5px 0;
}

.item-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
